<article class="dry-sidebar-container sidebar">
  <section class="sidebar-header-section sidebar-header">
    <label class="sidebar-header-title" *ngIf="desplegado">DRY</label>
    <span class="material-symbols-rounded sidebar-header-icon" (click)="cambiarEstado()">menu</span>
  </section>

  <hr class="hr">

  <section class="sidebar-content-section sidebar-content">
      <section class="sidebar-content-item" routerLink="/productos" (click)="homeRedirect()">
      <span class="material-symbols-rounded sidebar-header-icon" title="Inicio">home</span>
      <label class="sidebar-content-item-text" *ngIf="desplegado">Inicio</label>
    </section>

    <hr class="hr">
    <section *ngIf="!isAuthenticated()" class="sidebar-content-item" routerLink="/informacion">
      <span class="material-symbols-rounded sidebar-header-icon" title="Informacion">Info</span>
      <label class="sidebar-content-item-text" *ngIf="desplegado">Informacion</label>
    </section>

    <section *ngIf="isAuthenticated()" class="sidebar-content-item" routerLink="/estadisticas" >
      <span class="material-symbols-rounded sidebar-header-icon" title="Estadísticas">Monitoring</span>
      <label class="sidebar-content-item-text" *ngIf="desplegado">Estadísticas</label>
    </section>


        <section *ngIf="isAuthenticated()" class="sidebar-content-item" routerLink="/ventas/registrar">
            <span class="material-symbols-rounded sidebar-header-icon"  title="Vender Productos">point_of_sale</span>
            <label class="sidebar-content-item-text" *ngIf="desplegado">Vender</label>
        </section>
            


   <!-- <section *ngIf="isAuthenticated()" class="sidebar-content-item" routerLink="/productos/ventas">
      <span class="material-symbols-rounded sidebar-header-icon">format_list_numbered</span>
      <label class="sidebar-content-item-text" *ngIf="desplegado">Registro de ventas</label>
    </section>
  -->
 
    <section *ngIf="isAuthenticated()" class="sidebar-content-item" routerLink="/ventas/listado">
      <span class="material-symbols-rounded sidebar-header-icon" title="Lista de ventas">edit_square</span>
      <label class="sidebar-content-item-text" *ngIf="desplegado">Lista de Ventas</label>
    </section>

    <section *ngIf="isAuthenticated()" class="sidebar-content-item" routerLink="/productos/listado" >
      <span class="material-symbols-rounded sidebar-header-icon" title="Lista de productos">receipt_long</span>
      <label class="sidebar-content-item-text" *ngIf="desplegado">Lista de productos</label>
    </section>

        <section *ngIf="isAuthenticated()" class="sidebar-content-item" routerLink="/usuarios/listado">
          <span class="material-symbols-rounded sidebar-header-icon" title="Lista de usuarios">list_alt</span>
          <label class="sidebar-content-item-text" *ngIf="desplegado">Lista de usuarios</label>
        </section>
        <section *ngIf="isAuthenticated()" class="sidebar-content-item" routerLink="/informacionEdit">
          <span class="material-symbols-rounded sidebar-header-icon" title="Información">Info</span>
          <label class="sidebar-content-item-text" *ngIf="desplegado">Información</label>
        </section>
        
        <section *ngIf="isAuthenticated()" class="sidebar-content-item"(click)="modal.open(contenido,{centered:true})">
          <span class="material-symbols-rounded sidebar-header-icon" title="Salir">logout</span>
          <label class="sidebar-content-item-text" *ngIf="desplegado">Salir</label>
        </section>
      </section>

     

</article>



<ng-template data-backdrop="static" #contenido let-modal >
  <div class="modal-header">
        <h5>¿Est&aacute;s seguro que deseas cerrar sesi&oacute;n?</h5>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-success"  (click)="logout()">SI</button>
        <button type="button" class="btn btn-danger" (click)="modal.close()">NO</button>
      </div>
      <div class="modal-footer"></div>
</ng-template>
