<article class="dry-sidebar-container sidebar">
  <section class="sidebar-header-section sidebar-header">
    <label class="sidebar-header-title">DRY</label>
    <span class="material-symbols-rounded sidebar-header-icon">menu</span>
  </section>

  <hr class="hr">

  <section class="sidebar-content-section sidebar-content">
      <section class="sidebar-content-item">
      <span class="material-symbols-rounded sidebar-header-icon">home</span>
      <label class="sidebar-content-item-text" routerLink="/productos">Home</label>
    </section>

    <hr class="hr">

    <section class="sidebar-content-item" routerLink="/productos/ventas">
      <span class="material-symbols-rounded sidebar-header-icon">format_list_numbered</span>
      <label class="sidebar-content-item-text" >Registro de ventas</label>
    </section>

    <section class="sidebar-content-item" routerLink="/productos/facturar">
      <span class="material-symbols-rounded sidebar-header-icon">edit_square</span>
      <label class="sidebar-content-item-text">Facturar</label>
    </section>

    <section class="sidebar-content-item" routerLink="/productos/listado">
      <span class="material-symbols-rounded sidebar-header-icon">receipt_long</span>
      <label class="sidebar-content-item-text">Lista de productos</label>
    </section>

    <section class="sidebar-content-item" routerLink="/usuarios">
      <span class="material-symbols-rounded sidebar-header-icon">list_alt</span>
      <label class="sidebar-content-item-text">Lista de usuarios</label>
    </section>
  </section>
</article>
