<article class="dry-header-container header">
  <label class="header-title">{{title}}</label>

  <section class="header-user-account-section header-user-account">
    <label class="header-user-account-text">Mi cuenta</label>
    <button (click)="irAMiCuenta()" type="button" class="btn-avatar">
      <img src="/assets/avatar.png" alt="" class="avatar">
    </button>
    <!-- <img src="/assets/avatar.png" alt="" class="avatar"> -->

    <button type="button" class="button-top" (click)="redirectToAWindowHomeOrAuth()">{{textButtonAdminAndLogout}}</button>
  </section>

  <ng-container *ngIf="isVisibleModal">
    <article class="dry-modal-container">
      <div class="modal-header">
        <h5>¿Estás seguro que deseas cerrar sesión?</h5>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-success" (click)="closeSession()">SI</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">NO</button>
      </div>
      <div class="modal-footer"></div>
    </article>
  </ng-container>
</article>
