.header {
  display: flex;
  justify-content: space-between;
  flex: 1;
  height: 50px;
  max-height: 50px;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;

  &-title {
    font-size: var(--font-size-big);
  }

  &-user-account {
    display: flex;
    gap: 20px;

    &-text {
      font-size: var(--font-size-subtitle);
    }

    .btn-avatar {
      border: none;
      background: none;
      border-radius: 50%;
      //width: 50px;
      // height: 50px;
      cursor: pointer;
    }
    .btn-notifi{
      border: none;
      background: none;
      border-radius: 40%;
      //width: 50px;
      // height: 50px;
      cursor: pointer;

    }

    /* .btn-avatar{
       width: 50px;
       height: 50px;
     }*/
    .avatar {
      border: 2px solid var(--color-white);
      border-radius: 50%;
      background-size: cover;
      width: 40px;
      height: 40px;
    }
    .notic{
      border: 2px solid var(--color-white);
      border-radius: 50%;
      background-size: cover;
      width: 40px;
      height: 40px;

    }
  }

  .button-top {
    display: flex;
    align-items: center;
    background-color: var(--color-light-blue);
    color: var(--color-white);
    border: none;
    padding: 0 10px;

    &:hover {
      background-color: var(--color-dark-blue-secondary);
    }
  }
}

.dry-modal-container {
  position: fixed;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .modal-header {
    background-color: rgb(160, 217, 140);
    justify-content: center;
  }

  .modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn {
    display: flex;
    width: 85px;
    justify-content: center;
    border-radius: 30px;
    font-weight: 600;
    margin: 0px 20px;

    &.btn-success {
      background-color: rgb(50, 206, 25);
    }

    &.btn-danger {
      background-color: rgb(254, 0, 15);
    }
  }

  .modal-footer {
    background-color: rgb(160, 217, 140);
    height: 55px;
  }
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }
}


