.header {
  display: flex;
  justify-content: space-between;
  flex: 1;
  height: 50px;
  max-height: 50px;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;

  &-title {
    font-size: var(--font-size-big);
  }

  &-user-account {
    display: flex;
    gap: 20px;

    &-text {
      font-size: var(--font-size-subtitle);
    }

    .avatar {
      border: 2px solid var(--color-white);
      border-radius: 50%;
      background-size: cover;
    }
  }
}

.button {
  display: flex;
  align-items: center;
}


