<article class="dry-header-container header">
  <label>Listado de productos</label>

  <section class="header-user-account-section user-account">
    <label class="user-account-text">Mi cuenta</label>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus iusto laborum numquam quam quisquam reiciendis sed tempore voluptate voluptatem. Esse labore, voluptates? Blanditiis ea excepturi magnam, modi reprehenderit sed voluptates.</p>
    <section class="user-account-avatar-section">
      <img src="/src/assets/avatar.png" alt="" class="avatar">
    </section>
  </section>

</article>
