<app-header [title]="'Vender productos'"></app-header>
<article class="dry-page-registro-container animate__animated animate__fadeIn animate__faster">
   
      <section  class="registro-content-section registro-content" style="min-width: 1077px;">

          <div class="formCliente">
            <div class="campoCliente">
              <label for="">Apellido Cliente</label><br>
              <input type="text" [(ngModel)] = "venta.client.lastName">
            </div>
            <div class="campoCliente">
              <label for="">CI</label><br>
              <input type="text" [(ngModel)] = "venta.client.ci">
            </div>
          </div>
         <br>
          <section class="conteTotalBusqueda">
            
            <h3 >TOTAL: {{venta.total}} Bs</h3>
            <div>
              <label>Agregar producto :
              </label>
              <div class="bucadorContenedor">
                <input type="text"
             placeholder="Nombre producto"
             #textSearch
             (keyup)="searchProductByName(textSearch.value)">
             <span class="material-symbols-rounded listado-header-search-icon">search</span> 
              </div>  
              


              <div *ngIf="productNameSearch.trim() != ''" class="listaBusqueda">
                <div *ngFor="let product of products | filterSearchPipeProd: productNameSearch" >
                  <button (click) = "addProd(product)"> {{ product.name }} </button>
                </div>
                <div *ngIf="(products | filterSearchPipeProd: productNameSearch).length == 0">
                  No existe este producto
                </div>
                
              </div>
            </div>
            
            
           
            
          </section>
          
          <section class="listado-content-section listado-content">
            <table class="listado-content-table table">
              <thead>
                <th></th>
              <th class="table-thead-th--bold-light table-th">
                <label class="table-th-label">Producto</label>
                <span class="material-symbols-rounded table-th-icon"></span>
              </th>
              <th class="table-thead-th--bold-light table-th">
                <label class="table-th-label">Precio</label>
                <span class="material-symbols-rounded table-th-icon"></span>
              </th>
              <th class="table-thead-th--bold-light table-th">
                <label class="table-th-label">Cantidad</label>
                <span class="material-symbols-rounded table-th-icon"></span>
              </th>
             
              </thead>
              
              <tbody>

                
              <tr [ngClass]="(i % 2 === 0) ? 'table-row--color-disabled' : 'table-row--color-white'"
              class="table-row animate__animated animate__fadeIn animate__faster" *ngFor="let product of productosEnCarrito 
              | paginate: { itemsPerPage:6  , currentPage: page, totalItems: (venta.products).length}; let i = index;">
              <td>
                <img src="{{product.image}}" alt="image" class="item-img" style="width: 50px; height: 50px;">
              </td>
                <td >{{product.name}}</td>
                <td >{{product.salePrice}}</td>
                <td >{{cantidadesVentas[i]}}</td>
                
               
                
                <td>

                <span class="material-symbols-rounded table-row-icon icon-plus icon"
                (click)="addProd(product)">add</span>
                <span class="material-symbols-rounded table-row-icon icon-edit icon"
                (click)="restProduct(product)">remove</span>
                <span class="material-symbols-rounded table-row-icon icon-delete icon"
                (click)="quitarProducto(product)">close</span>

     
                </td>
        
              </tr>
              <td>Lista vacia de productos</td>
              </tbody>
            </table>
            <section class="listado-footer-section listado-footer">
              <label class="listado-footer-quantity">{{(venta.products).length }} productos en total</label>
        
              <section class="listado-footer-pagination">
                <pagination-controls
                  class="my-pagination"
                  (pageChange)="pageChangeA($event)"
                  (pageBoundsCorrection)="pageChangeA($event)"
                  previousLabel="Anterior"
                  nextLabel="Siguiente"
                  [autoHide]="true">
                </pagination-controls>
              </section>
            </section>


              <section class="registro-footer-pagination">
              
              <button type="button" class="registro-button" (click)="registrarVenta()">Cobrar</button>
            </section>
         </section>
    
      </section>
      
   
  
</article>




