<app-header [title]="'Vender productos'"></app-header>
<article class="dry-page-registro-container animate__animated animate__fadeIn animate__faster">
   
      <section  class="registro-content-section registro-content" style="min-width: 1077px;">
        
          <section class="form-section">
              <form action=""><h4>Informaci&oacute;n Cliente</h4>
              
                <label for="">Cedula de Identidad</label>
                <input type="number">
                
                <label for="">Apellido</label>
                <input type="text">
              </form>
          </section>
          <section class="registro-header-search-section registro-header-search">
            
            <h3 class="registro-header-total">TOTAL:</h3>
            <div class="component-search">
              <input type="text" [(ngModel)]="searchTerm$" (input)='searchTerm$.next($event.target.value)' placeholder="Search">
              <ul>
                <li *ngFor="let product of listFiltered">{{ product.name }}</li>
              </ul>
              
          </div>
           
            
          </section>
          
          <section class="registro-content-section registro-content">
            <table class="registro-content-table table">
              <thead>
                <th></th>
              <th class="table-thead-th--bold-light table-th">
                <label class="table-th-label">Producto</label>
                <span class="material-symbols-rounded table-th-icon"></span>
              </th>
              <th class="table-thead-th--bold-light table-th">
                <label class="table-th-label">Precio</label>
                <span class="material-symbols-rounded table-th-icon"></span>
              </th>
              <th class="table-thead-th--bold-light table-th" style="min-width: 205px;">
                <label class="table-th-label">Estado</label>
                <span class="material-symbols-rounded table-th-icon"></span>
              </th>
              <th class="table-thead-th--bold-light table-th">
                <label class="table-th-label">Cantidad</label>
                <span class="material-symbols-rounded table-th-icon"></span>
              </th>
             
              </thead>
              
              <tbody>
              <tr>
                <td>
                  <img>
                </td>
                <td ></td>
                <td ></td>
                <td ></td>
                
               
                
                <td>
        
                  <span class="material-symbols-rounded table-row-icon icon-plus icon"
                        >cancel</span>
                 
                </td>
        
              </tr>
              <td>Lista vacia de productos</td>
              </tbody>
            </table>
            <section class="registro-footer-pagination">
              <pagination-controls>
                class="my-pagination"
                  (pageChange)="pageChangeA($event)"
                  (pageBoundsCorrection)="pageChangeA($event)"
                  previousLabel="Anterior"
                  nextLabel="Siguiente"
                  [autoHide]="true">
              </pagination-controls>
            <button type="button" class="registro-button">Cobrar</button>
          </section>
         </section>
    
       </section>
      
   
  
</article>


