<article class="dry-page-registrar-container">
  <section class="image-container">
    <section class="image-section">
      <img src="" alt="">
    </section>

    <button>Subir Foto</button>
  </section>

  <section class="form-section">
    <form class="form">
      <section class="form-field">
        <span></span>
        <label>Nombre del producto</label>
      </section>

      <section class="form-field">
        <span></span>
        <label>Descripcion</label>
      </section>

      <section class="form-row-section">
        <section class="form-field">
          <span></span>
          <label>Precio de venta</label>
        </section>

        <section class="form-field">
          <span></span>
          <label>Precio de compra</label>
        </section>
      </section>

      <section class="form-field">
        <span></span>
        <labe>Cantidad</labe>
      </section>
    </form>
  </section>
</article>
