<article class="dry-page-registrar-container">
  <section class="image-container">
    <img [src]="imageData? imageData: '../../../assets/foto-por-defecto.jpg'" class="image"/>
    <label for="fileInput">Subir Foto</label>
    <input id="fileInput" type="file" accept=".jpg,.png" title="subir foto" (change)="onFileSelected($event)">
  </section>

  <section class="form-section">
    <form class="form" [formGroup]="formularyProducts" (ngSubmit)="createProduct()">
      <section class="form-field">
        <section class="form-field-header-input">
          <span class="material-symbols-rounded">category</span>
          <label>Nombre del producto</label>
        </section>

        <input type="text" class="form-field-input" formControlName="name" name="name" maxlength="80">
      </section>

      <section class="form-field">
        <section class="form-field-header-input">
          <span class="material-symbols-rounded">description</span>
          <label>Descripcion</label>
        </section>

        <input type="text" class="form-field-input" formControlName="description" name="description" maxlength="150">
      </section>

      <section class="form-row-section">
        <section class="form-field">
          <section class="form-field-header-input">
            <span class="material-symbols-rounded">request_quote</span>
            <label>Precio de venta</label>
          </section>

          <input type="number" class="form-field-input" formControlName="purchasePrice" name="purchasePrice">
        </section>

        <section class="form-field">
          <section class="form-field-header-input">
            <span class="material-symbols-rounded">payments</span>
            <label>Precio de compra</label>
          </section>

          <input type="number" class="form-field-input" formControlName="salePrice" name="salePrice">
        </section>
      </section>

      <section class="form-field">
        <section class="form-field-header-input">
          <span class="material-symbols-rounded">production_quantity_limits</span>
          <label>Cantidad</label>
        </section>

        <input type="text" class="form-field-input" formControlName="stock" name="stock">
      </section>

      <button class="form-button" type="submit"
              [disabled]="formularyProducts.invalid"
              [ngClass]="formularyProducts.invalid? 'disabled': 'enable'">Registrar
      </button>
    </form>
  </section>
</article>
