.dry-page-registrar-container {
  background-color: var(--color-white);
  box-sizing: border-box;
  box-shadow: var(--box-shadow-primary);
  margin-top: 40px;
  padding: 50px 40px;
  display: flex;
  gap: 40px;
}

.image-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  flex-basis: 22%;
  align-items: center;

  .image {
    width: 100%;
    background-size: cover;
    box-shadow: var(--box-shadow-secondary);
  }


}

.form-section {
  display: flex;
  flex-basis: 70%;

  .form {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;

    &-field {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &-header-input {
        display: flex;
      }

      &-input {
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        font-size: var(--font-size-text);
        padding-left: 10px;
        box-sizing: border-box;
      }
      &-buttons {
        display: flex;
        justify-content: space-between;
      }
    }

    &-row-section {
      display: flex;
      gap: 35%;
    }

    &-button {
      border-radius: 3px;
      border-style: none;
      box-sizing: border-box;
      padding: 7px;

      &:hover {
        cursor: pointer;
      }

      &-registrar {
        width: 620px;
        height: 35px;
        background-color:#1A759F;
        color: white;
      }

      &-cancelar {
        width: 45%;
        min-width: 45%;
        background-color: var(--color-black);
        color: var(--color-white);
      }
    }
  }
}

.disabled {
  background-color: rgb(167, 168, 168);
  color: var(--color-black);
}

.enable {
  background-color: var(--color-light-blue);
  color: var(--color-white);
}

label[for="fileInput"] {
  display: inline-block;
  padding: 3px;
  background-color: var(--color-light-blue);
  color: #fff;
  font-size: 16px;
  width: 147px;
  height: 29px;
 
  cursor: pointer;
  text-align: center;
  align-content: center;
  border-radius: var(--border-radius-buttons);
}

input[type="file"] {
  display: none;
}

