<app-header [title]="'Registrar usuario'"></app-header>
<article class="dry-page-registrar-container table-row animate__animated animate__fadeIn animate__faster">
  <section class="image-container">
    <img [src]="'../../../assets/foto-por-defecto.jpg'" class="image"/>
    <label for="fileInput">Subir Foto</label>
    <input id="fileInput" type="file" accept=".jpg,.png" title="subir foto">
  </section>

  <section class="form-section">
    <form class="form">
      <section class="form-row-section">
        <section class="form-field">
          <section class="form-field-header-input">
            <span class="material-symbols-rounded" style="font-size: 35px;">badge</span>
            <label>Nombres</label>
          </section>

          <input type="text" class="form-field-input" formControlName="name" name="name" maxlength="81">
          <div *ngIf="formularyUsers.get('name')?.errors && formularyUsers.get('name')?.dirty">
            <small class="text-danger" *ngIf="formularyUsers.get('name')?.hasError('required')">Nombre requerido</small>
            <small class="text-danger" *ngIf="formularyUsers.get('name')?.hasError('minlength')">Minimo 4 caracteres </small>
            <small class="text-danger" *ngIf="formularyUsers.get('name')?.hasError('maxlength')">Maximo 80 caracteres </small>
            <small class="text-danger" *ngIf="formularyUsers.get('name')?.hasError('pattern')">No se permiten caracteres especiales </small>
        </div>
        </section>

        <section class="form-field">
          <section class="form-field-header-input">
            <span class="material-symbols-rounded" style="font-size: 35px;">badge</span>
            <label>Apellidos</label>
          </section>

          <input type="text" class="form-field-input" formControlName="lastName" name="lastName" maxlength="81">

        </section>
      </section>

      <section class="form-field">
        <section class="form-field-header-input">
          <span class="material-symbols-rounded" style="font-size: 35px;">email</span>
          <label>Correo electrónico</label>

        </section>

        <input type="email" class="form-field-input" formControlName="email" name="email" maxlength="81">
      </section>

      <section class="form-row-section">
        <section class="form-field">
          <section class="form-field-header-input">
            <span class="material-symbols-rounded" style="font-size: 35px;">phone_iphone</span>
            <label>Celular</label>
          </section>

          <input type="number" class="form-field-input" formControlName="phone" name="phone">
        </section>

        <section class="form-field">
          <section class="form-field-header-input">
            <span class="material-symbols-rounded" style="font-size: 35px;">person</span>
            <label>Usuario</label>
          </section>

          <input type="text" class="form-field-input" formControlName="user" name="user">
        </section>
      </section>

      <section class="form-field">
        <section class="form-field-header-input">
          <span class="material-symbols-rounded" style="font-size: 35px;">lock</span>
          <label>Password</label>
        </section>

        <input type="password" class="form-field-input" formControlName="password" name="password">
      </section>

      <section class="form-field-buttons"
               style="min-width: 500px; align-items: center; display: flex; justify-content: center;">
        <button class="form-button form-button-registrar" type="submit"
                style="color: white;background-color: #1A759F">Registrar</button>
      </section>
    </form>
  </section>
</article>
