<app-header [title]="title"></app-header>
<article class="dry-page-registrar-container table-row animate__animated animate__fadeIn animate__faster">
  <section class="image-container">
    <img [src]="imageData? imageData: '../../../assets/foto-por-defecto.jpg'" class="image"/>
    <label for="fileInput">Subir Foto</label>
    <input id="fileInput" type="file" accept=".jpg,.png" title="subir foto" (change)="onFileSelected($event)">
  </section>

  <section class="form-section">
    <form class="form" [formGroup]="formularyUsers" (ngSubmit)="createUser()" >
      <section class="form-row-section">
        <section class="form-field">
          <section class="form-field-header-input">
            <span class="material-symbols-rounded" style="font-size:35px;">badge</span>
            <label>Nombres</label>
          </section>


          <input type="text" class="form-field-input_name" formControlName="name" name="name" maxlength="30" (keydown)="Space($event)">
          <div *ngIf="formularyUsers.get('name')?.errors && formularyUsers.get('name')?.dirty">

            <small class="text-danger" *ngIf="formularyUsers.get('name')?.hasError('required')">Nombre requerido</small>
            <small class="text-danger" *ngIf="formularyUsers.get('name')?.hasError('minlength')">M&iacute;nimo 4 caracteres </small>
            <small class="text-danger" *ngIf="formularyUsers.get('name')?.hasError('maxlength')">M&aacute;ximo 30 caracteres </small>
            <small class="text-danger" *ngIf="formularyUsers.get('name')?.hasError('pattern')">No se permiten caracteres especiales </small>
          </div>
        </section>

        <section class="form-field">
          <section class="form-field-header-input">
            <span class="material-symbols-rounded" style="font-size: 35px;">badge</span>
            <label>Apellidos</label>
          </section>

          <input type="text" class="form-field-input-lastaname" formControlName="lastName" name="lastName" maxlength="30" (keydown)="Space($event)">
          <div *ngIf="formularyUsers.get('lastName')?.errors && formularyUsers.get('lastName')?.dirty">
            <small class="text-danger" *ngIf="formularyUsers.get('lastName')?.hasError('required')">Apellido requerido</small>
            <small class="text-danger" *ngIf="formularyUsers.get('lastName')?.hasError('minlength')">M&iacute;nimo 4 caracteres </small>
            <small class="text-danger" *ngIf="formularyUsers.get('lastName')?.hasError('maxlength')">M&aacute;ximo 30 caracteres </small>
            <small class="text-danger" *ngIf="formularyUsers.get('lastName')?.hasError('pattern')">No se permiten caracteres especiales ni numeros </small>
          </div>
        </section>
      </section>

      <section class="form-field">
        <section class="form-field-header-input">
          <span class="material-symbols-rounded" style="font-size: 35px;">email</span>
          <label>Correo electrónico</label>
        </section>

        <input type="email" class="form-field-input" formControlName="email" name="email" maxlength="81">
        <div *ngIf="formularyUsers.get('email')?.errors && formularyUsers.get('email')?.dirty">
          <small class="text-danger" *ngIf="formularyUsers.get('email')?.hasError('requierd')">Correo electr&oacute;nico requerido</small>
          <small class="text-danger" *ngIf="formularyUsers.get('email')?.hasError('pattern')">Solo se permiten correos electr&oacute;nicos</small>
        </div>
      </section>

      <section class="form-row-section">
        <section class="form-field">
          <section class="form-field-header-input">
            <span class="material-symbols-rounded" style="font-size: 35px;">phone_iphone</span>
            <label>Celular</label>
          </section>

          <input type="tel" class="form-field-input" formControlName="phone" name="phone"  onkeypress="return event.charCode>=48 && event.charCode<=57" maxlength="8" (keydown)="onKeyDown($event)">
          <div *ngIf="formularyUsers.get('phone')?.errors && formularyUsers.get('phone')?.dirty">
            <small class="text-danger" *ngIf="formularyUsers.get('phone')?.hasError('required')">Numero Celular requerido</small>

            <small class="text-danger" *ngIf="formularyUsers.get('phone')?.hasError('pattern')">Solo n&uacute;meros de Bolivia</small>
          </div>
        </section>

        <section class="form-field">
          <section class="form-field-header-input">
            <span class="material-symbols-rounded" style="font-size: 35px;">person</span>
            <label>Usuario</label>
          </section>

          <input type="text" class="form-field-input" formControlName="username" name="username">
          <div *ngIf="formularyUsers.get('username')?.errors && formularyUsers.get('username')?.dirty">
            <small class="text-danger" *ngIf="formularyUsers.get('username')?.hasError('required')">usuario requerido</small>
            <small class="text-danger" *ngIf="formularyUsers.get('username')?.hasError('minlength')">M&iacute;nimo 4 caracteres </small>
            <small class="text-danger" *ngIf="formularyUsers.get('username')?.hasError('maxlength')">M&aacute;ximo 16 caracteres </small>
            <small class="text-danger" *ngIf="formularyUsers.get('username')?.hasError('pattern')">Debe empezar con una letra y sin caracteres especiales</small>
          </div>
        </section>
      </section>

      <section class="form-field">
        <section class="form-field-header-input">
          <span class="material-symbols-rounded" style="font-size: 35px;">lock</span>
          <label>Password</label>
        </section>


        <div>
        <input type="{{showPassword ? 'text' : 'password'}}" class="form-field-input-pass" id="password" formControlName="password" name="password" maxlength="10" (keydown)="oneKeyDown($event)">
        <button type="button" class="btn" (click)="toggleShowPassword()">
          <i class="{{showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
          <img src="../../../../assets/ojin.png" alt="Descripción de la imagen">
        </button>
        <div *ngIf="formularyUsers.get('password')?.errors && formularyUsers.get('password')?.dirty">
          <small class="text-danger" *ngIf="formularyUsers.get('password')?.hasError('required')">Contraseña requerida</small>
          <small class="text-danger" *ngIf="formularyUsers.get('password')?.hasError('maxlength')">M&aacute;ximo 10 caracteres</small>
          <small class="text-danger" *ngIf="formularyUsers.get('password')?.hasError('minlength')">M&iacute;nimo 4 caracteres</small>
        </div> 
      </div>
      </section>

      <section class="form-field-buttons"
               style="min-width: 500px; align-items: center; display: flex; justify-content: center;">
        <button class="form-button form-button-registrar" type="submit"
                style="color: white;background-color: #1A759F"   [ngClass]="formularyUsers.valid? 'disabled': 'enable'">Registrar</button>
        <button class="form-button form-button-cancelar" (click)="redirectToWindowUser()" type="button">Cancelar</button>
      </section>
    </form>
  </section>
</article>
