<!-- <p>informacion-cuenta works!</p>

<app-header [title]="'Informacion de la cuenta'"></app-header>
<article class="dry-page-informacion-cuenta-container"> -->
    <header>
        <section class="header">
        <div>
            <h1>informacion de la cuenta</h1>
        </div>
        <div>
            <label for="">cerrar sesion</label>
            <button>icono cerrar sesion</button>
        </div>
        </section>
    </header>   
    <article class="dry-page-informacion-cuenta-container">

<section>
    <div class="lado_izquierdo">
    <div>
        imagen
    </div>
    <div>
        nombre de la imagen
    </div>
</div>
    <div class="lado_derecho">
        <div>informacion_cuenta</div>
    </div>
    
</section>
    </article>
<!-- <section>
    <h1>golaaaaaaaa</h1>
</section> -->


