
<div class="contenedor"  >
    
    <div class="subcont"><span > {{datos.mensaje}}</span> <button (click)="cerrarDialogo()" >X</button> </div>
    
    
    <div class="contenedorObjeto">
        <div class=" contenedorimg"><img *ngIf="datos.pro.image != ''" [src]="datos.pro.image" alt=""></div>
        <div class="infoContenedor">
            <span class="varNam">Nombre: </span><span class="dataNam">{{datos.pro.name}}</span><br>
            <span class="varNam">Precio de compra: </span><span class="dataNam">{{datos.pro.purchasePrice}}</span><br>
            <span class="varNam">Precio de venta: </span><span class="dataNam">{{datos.pro.salePrice}}</span><br>
            <span class="varNam">Cantidad: </span><span class="dataNam">{{datos.pro.stock}}</span><br>
            <span class="varNam">Descripcion: </span><span class="dataNam">{{datos.pro.description}}</span><br>
        </div>
    </div>
    <div class="btndown"><button (click)="confirmado()"> Eliminar</button></div>
</div>