.contenedorimg{
    width: 150px;
    height: 150px;
    padding: 25px; 
    padding-left: 25px;
  
}
.infoContenedor{
    padding: 25px; 
    padding-left: 60px;
}
.subcont{
    padding: 5px;
}
.contenedorimg img{
    width:100%;
    height:100%;
    border: 1px black solid;
  }
.varNam{
    font-weight: bold;
}
.dataNam{
    color: gray;
}
.subcont{
    display: flex;
    justify-content: space-between;
}

.contenedor{
    background-color: var(--color-light-green);
    width: 100%;
    
}
.btndown{
    width: 450px;
    display:flex;
    justify-content: end;
}
.contenedorObjeto{
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


