<app-header [title]="'Lista de productos'"></app-header>
<article class="dry-page-listado-container animate__animated animate__fadeIn animate__faster">
  <section class="listado-header-section listado-header">
    <section class="listado-header-search-section listado-header-search">
      <input type="text"
             class="listado-header-search-input"
             placeholder="Ingrese el nombre del producto a buscar..."
             #textSearch
             (keyup)="searchProductByName(textSearch.value)">

      <span class="material-symbols-rounded listado-header-search-icon">search</span>
    </section>

    <button type="button" class="listado-header-button" (click)="goNavigateWindowRegister()">Registrar</button>
  </section>

  <section class="listado-content-section listado-content">
    <table class="listado-content-table table">
      <thead>
      <th></th>
      <th class="table-thead-th--bold-light table-th">
        <label class="table-th-label">Nombre</label>
        <span class="material-symbols-rounded table-th-icon" (click)="changeOrder('nombre')">unfold_more</span>
      </th>
      <th class="table-thead-th--bold-light table-th">
        <label class="table-th-label">Precio de compra</label>
        <span class="material-symbols-rounded table-th-icon" (click)="changeOrder('purchasePrice')">unfold_more</span>
      </th>
      <th class="table-thead-th--bold-light table-th">
        <label class="table-th-label">Precio de venta</label>
        <span class="material-symbols-rounded table-th-icon" (click)="changeOrder('salePrice')">unfold_more</span>
      </th>
      <th class="table-thead-th--bold-light table-th">
        <label class="table-th-label">Cantidad</label>
        <span class="material-symbols-rounded table-th-icon" (click)="changeOrder('stock')">unfold_more</span>
      </th>
      <th class="table-thead-th--bold-light">
        <label class="table-th-label">Acciones</label>
      </th>
      </thead>

      <tbody>
      <tr [ngClass]="(i % 2 === 0) ? 'table-row--color-disabled' : 'table-row--color-white'"
          class="table-row animate__animated animate__fadeIn animate__faster"
          *ngFor="let product of products
          | async
          | filterSearchPipe:productNameSearch
          | sortByPipe: sortBy
          | paginate: {itemsPerPage:8  , currentPage: page, totalItems: totalProducts};
           let i = index; trackBy: trackById">
        <td>
          <img src="{{product.image}}" alt="image" class="item-img">
        </td>
        <td class="table-row-td" [title]="product.name">{{product.name}}</td>
        <td class="table-row-td" [title]="product.purchasePrice">{{product.purchasePrice}}</td>
        <td class="table-row-td" [title]="product.salePrice">{{product.salePrice}}</td>
        <td class="table-row-td" [title]="product.stock">{{product.stock}}</td>
        <td>
          <span class="material-symbols-rounded table-row-icon icon-plus icon"
                (click)="incrementStock(product.id)">add</span>
          <span class="material-symbols-rounded table-row-icon icon-visibility">visibility</span>
          <span class="material-symbols-rounded table-row-icon icon-edit icon" [routerLink]="['/productos/editar', product.id ]">edit_square</span>
          <span class="material-symbols-rounded table-row-icon icon-delete icon"
                (click)="openModal(product)">delete</span>
        </td>
      </tr>
      </tbody>
    </table>

    <section class="listado-footer-section listado-footer">
      <label class="listado-footer-quantity">{{totalProducts}} productos en total</label>

      <section class="listado-footer-pagination">
        <pagination-controls
          class="my-pagination"
          (pageChange)="page = $event"
          previousLabel="Anterior"
          nextLabel="Siguiente">
        </pagination-controls>
      </section>
    </section>
  </section>

  <!-- TODO: REFACTORIZAR ESTE MODAL DE ELIMINAR LLEVARLO A UN COMPONENTE-->
  <ng-container *ngIf="deleteBoolean">
    <article class="dry-modal-container">
      <section class="modal-header-section modal-header">
        <label class="modal-header-text">¿Estas seguro que deseas eliminar el producto?</label>

        <button (click)="closeModal()" class="modal-header-button">
          <span class="material-symbols-rounded icon-cancel">cancel</span>
        </button>
      </section>

      <section class="modal-content-section modal-content">
        <section class="modal-content-image-section">
          <img [src]="productData.image" alt="" class="image">
        </section>

        <section class="modal-content-description content-description">
          <label><b>Nombre: </b> {{productData.name}}</label>
          <label><b>Precio de compra: </b> {{productData.purchasePrice}}</label>
          <label><b>Precio de venta: </b> {{productData.salePrice}}</label>
          <label><b>Cantidad: </b> {{productData.stock}}</label>
          <label><b>Decription: </b> {{productData.description}}</label>
        </section>
      </section>

      <section class="modal-footer-section modal-footer">
        <button class="modal-footer-button" (click)="deleteProductById()">
          <span class="material-symbols-rounded">delete_forever</span>
          <label class="modal-footer-text">Eliminar</label>
        </button>
      </section>
    </article>
  </ng-container>
</article>
