<article class="dry-page-listado-container">
  <section class="listado-header-section listado-header">
    <section class="listado-header-search-section listado-header-search">
      <input type="text" class="listado-header-search-input" placeholder="Ingrese el nombre del producto a buscar...">
      <span class="material-symbols-rounded listado-header-search-icon">search</span>
    </section>

    <button type="button" class="listado-header-button">Registrar</button>
  </section>

  <section class="listado-content-section listado-content">
    <table class="listado-content-table table">
      <thead>
      <th></th>
      <th class="table-thead-th--bold-light">Nombre</th>
      <th class="table-thead-th--bold-light">Precio de compra</th>
      <th class="table-thead-th--bold-light">Precio de venta</th>
      <th class="table-thead-th--bold-light">Cantidad</th>
      <th class="table-thead-th--bold-light">Acciones</th>
      </thead>

      <tbody>
      <tr [ngClass]="(i % 2 === 0) ? 'table-row--color-disabled' : 'table-row--color-white'" class="table-row" *ngFor="let product of products | async; let i = index">
        <td>
          <img src="{{product.image}}" alt="image" class="item-img">
        </td>
        <td>{{product.name}}</td>
        <td>{{product.purchasePrice}}</td>
        <td>{{product.salePrice}}</td>
        <td>{{product.stock}}</td>
        <td>
          <span class="material-symbols-rounded table-row-icon icon-plus">add</span>
          <span class="material-symbols-rounded table-row-icon icon-visibility">visibility</span>
          <span class="material-symbols-rounded table-row-icon icon-edit">edit_square</span>
          <span class="material-symbols-rounded table-row-icon icon-delete">delete</span>
        </td>
      </tr>
      </tbody>
    </table>

    <section class="listado-footer-section listado-footer">
      <label class="listado-footer-quantity">{{(products | async)?.length}} total</label>
      <label>Paginacion</label>
    </section>
  </section>
</article>
