.card{
    background-color: white;
    padding: 10px;
    margin-left: 25px;
    width: 80vw;
}
.container{
    display: flex;
    background-color: var( --color-light-blue-secondary);
    padding: 15px;
    color: white;
    margin-left: 25px;
    text-align: justify;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    width: 75vw;
    height: 70%;
    
   

}
.container p{
    padding: 30px;
}
.title{
    background-color:var(--color-dark-blue);
    
    margin-top: 8px;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-left: 25px;
    width: 40%;
    
}
img{
    width: 185px;
    height: 185px;
    background-color: white;
    border-radius: 5px;
    
}
.mision_img{
    margin-left: 90px;
}
.vision_img{
    margin-right: 90px;
}
