 <section>
        <h3 class="title">Mision</h3>

        <div class="container">
            <img class="mision_img" src="../../../assets/mision.png" alt="mision_imagen">
            <p>Nuestra mision es proveer a nuestros clientes los mejores repuestos electronicos del mercado ofreciendo precios
                competitivos,garantia y un servicio al cliente excepcional.Nos esforzamos por mantenernos actualizados con las ultimas tendencias y tecnologias,para brindar
                siempre la mejor experiencia de compra.
            </p>
        </div>
        <h3 class="title">Vision</h3>

        <div class="container">
           
            <p>Ser la tienda lider en venta de repuestos electronicos en la region,ofrecindo una amplia gama de productos de calidad y excelencia en el servicio al cliente.
            </p>
            <img  class="vision_img" src="../../../assets/vision.png" alt="vision_imagen">
        </div>
    </section>
