<app-header [title]="'Lista de Usuarios'"></app-header>
<article class="dry-page-listado-container animate__animated animate__fadeIn animate__faster">
  <section class="listado-header-section listado-header">
    <section class="listado-header-search-section listado-header-search">
      <input type="text"
             class="listado-header-search-input"
             placeholder="Ingrese el nombre del usuario a buscar..."
             #textSearch
             (keyup)="searchUserByName(textSearch.value)">

      <span class="material-symbols-rounded listado-header-search-icon">search</span>
    </section>

    <button type="button" class="listado-header-button" (click)="goNavigateWindowRegister()">Registrar</button>
  </section>

  <section class="listado-content-section listado-content">
    <table class="listado-content-table table">
      <thead>
      <th></th>
      <th class="table-thead-th--bold-light table-th">
        <label class="table-th-label">Nombres</label>
        <span class="material-symbols-rounded table-th-icon" (click)="changeOrder('nombre')" >{{iconArrow}}</span>
      </th>
      <th class="table-thead-th--bold-light table-th">
        <label class="table-th-label">Apellidos</label>
        <span class="material-symbols-rounded table-th-icon"(click)="changeOrder('lastName')">{{iconArrow}}</span>
      </th>
      <th class="table-thead-th--bold-light table-th">
        <label class="table-th-label">Correos Electrónicos</label>
        <span class="material-symbols-rounded table-th-icon" (click)="changeOrder('email')">{{iconArrow}}</span>
      </th>
      <th class="table-thead-th--bold-light table-th">
        <label class="table-th-label">Celular</label>
        <span class="material-symbols-rounded table-th-icon" (click)="changeOrder('phone')">{{iconArrow}}</span>
      </th>
      <th class="table-thead-th--bold-light">
        <label class="table-th-label">Acciones</label>
      </th>
      </thead>

      <tbody>
      <tr [ngClass]="(i % 2 === 0) ? 'table-row--color-disabled' : 'table-row--color-white'"
          class="table-row animate__animated animate__fadeIn animate__faster"
          *ngFor="let user of users
          | async
          | filterSearchPipeUser:userNameSearch
          | sortByPipe:sortBy :order
          | paginate: { itemsPerPage:10  , currentPage: page, totalItems: (users | async | filterSearchPipeUser:userNameSearch).length};
           let i = index; trackBy: trackById">
        <td>
          <img src="{{user.image}}" alt="image" class="item-img">
        </td>
        <td class="table-row-td" [title]="user.name">{{user.name}}</td>
        <td class="table-row-td" [title]="user.lastName">{{user.lastName}}</td>
        <td class="table-row-td" [title]="user.email">{{user.email}}</td>
        <td class="table-row-td" [title]="user.phone">{{user.phone}}</td>
        <td>
          <!--<span class="material-symbols-rounded table-row-icon icon-plus icon"
                (click)="incrementStock(user.id)">add</span> -->
          <span class="material-symbols-rounded table-row-icon icon-visibility"
                (click)="openModalSee(user)">visibility</span>
          <span class="material-symbols-rounded table-row-icon icon-edit icon"
                [routerLink]="['/usuarios/editar', user.id ]">edit_square</span>
          <span class="material-symbols-rounded table-row-icon icon-delete icon"
                (click)="openModalDelete(user)">delete</span>
        </td>

      </tr>
      <td *ngIf="(users | async | filterSearchPipeUser:userNameSearch)?.length === 0">Lista vacia de usuarios</td>
      </tbody>
    </table>

    <section class="listado-footer-section listado-footer">
      <label class="listado-footer-quantity">{{(users | async | filterSearchPipeUser:userNameSearch).length }} usuarios en total</label>

      <section class="listado-footer-pagination">
        <pagination-controls
          class="my-pagination"
          (pageChange)="pageChangeA($event)"
          (pageBoundsCorrection)="pageChangeA($event)"
          previousLabel="Anterior"
          nextLabel="Siguiente"
          [autoHide]="true">
        </pagination-controls>
      </section>
    </section>
  </section>

<!--  TODO: MODAL DE ELIMINAR-->
  <ng-container *ngIf="deleteBoolean">
    <app-modal [user]="userModal" (onCloseModal)="closeModal()" [title]="'¿Estás seguro que deseas eliminar el usuario?'"
      [color]="'rgb(153,217,140)'" [icon]="'delete_forever'" [txtButton]="'Eliminar'"></app-modal>
  </ng-container>

<!--  TODO: MODAL DE VISUALIZAR-->
  <ng-container *ngIf="seeBoolean">
    <app-modal [user]="userModal"
               (onCloseModal)="closeModal()"
               [title]="'Información del usuario'"
               [color]="'rgb(52,160,164)'"
               [txtButton]="'Salir'"
    ></app-modal>
  </ng-container>
  -->
</article>
