

<h1>{{tituloForm}}</h1>


<form [formGroup]="formularioUsuarios" (ngsubmit) = "registrar()">

<div>
    <label for="foto">Foto de perfil</label><br>
    <input type="file" formControlName ="foto">
</div>

<div>
    <div>
        <label for="nombres">Nombres</label> <br>
        <input type="text" formControlName="nombres" >
    </div>
        
    <div>
        <label for="apellidos">Apellidos</label> <br>
        <input type="text" formControlName ="apellidos">
    </div>
</div>


<div>
    <label for="correo">Correo Electronico</label> <br>
    <input type="text" formControlName = "correo">
</div>



    
<div>
    <label for="celular">Celular</label> <br>
    <input type="text" formControlName = "celular">
</div>

    
<div>
    <label for="usuario">Usuario</label> <br>
    <input type="text" formControlName ="usuario">
</div>


<button type="submit">Registrar</button>
</form>

