<app-header [title]="'Home'"></app-header>
  <article class="dry-home-page-container animate__animated animate__fadeIn animate__faster">
    <section class="home-page-top-content">
      <section class="home-page-top-content-text-section">
        <label class="text">Nuestros productos</label>
      </section>

      <section class="home-page-top-content-search-section">
        <input type="text"
              class="home-page-top-content-search-section-input"
              placeholder="Ingrese el nombre del producto a buscar..."
              #textSearch
              (keyup)="searchProductByName(textSearch.value)">

        <span class="material-symbols-rounded home-page-top-content-search-section-icon">search</span>
      </section>
    </section>

    <section class="home-page-mid-content">
    
      <app-card [product]="product" *ngFor="let product of products
            | async
            | filterSearchPipe:productNameSearch
            | paginate: {itemsPerPage:8  , currentPage: page, totalItems: totalProducts};
            let i = index; trackBy: trackById">
      </app-card>
    </section>

    <section class="home-page-bottom-content">
      <pagination-controls
        class="my-pagination"
        (pageChange)="page = $event"
        previousLabel="Anterior"
        nextLabel="Siguiente">
      </pagination-controls>
    </section>
  </article>

