.dry-form-register-page-container {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}
h3{
  font-size: var(--font-size-big);
  margin-left: 10%;
  margin-top: 1%;
 color: #212529;
 font-weight: 400;
}

.dry-form-register-content {
  background-color: var(--color-white);
  box-sizing: border-box;
  box-shadow: var(--box-shadow-secondary);
  margin: 10px 0;
  padding: 40px;
  display: flex;
  gap: 40px;
  min-width: 80%;
}

.image-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  flex-basis: 22%;
  align-items: center;

  .image {
    width: 100%;
    background-size: cover;
    box-shadow: var(--box-shadow-secondary);
  }
}

.form-section {
  display: flex;
  flex-basis: 70%;

  .form {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;

    &-field {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &-header-input {
        display: flex;
      }

      &-input {
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        font-size: var(--font-size-text);
        padding-left: 10px;
        box-sizing: border-box;
        min-width: 100%;
      }
      &-buttons {
        display: flex;
        justify-content: space-between;
        gap: 10px;
      }

      &-section-password-icon {
        display: flex;
        width: 100%;

        .icon-eye {
          cursor: pointer;
        }
      }
    }

    &-row-section {
      display: flex;
      justify-content: space-between;
      gap: 50px;

      .form-field {
        width: 50%;
      }
    }

    &-button {
      border-radius: 3px;
      border-style: none;
      box-sizing: border-box;
      padding: 7px;

      &:hover {
        cursor: pointer;
      }

      &-registrar {
        min-width: 50%;
        background-color:#1A759F;
        color: white;

        &:active {
          box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
          transform: translateY(1px);
        }
      }

      &-cancelar {
        flex: 1;
        background-color: var(--color-black);
        color: var(--color-white);

        &:active {
          box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
          transform: translateY(1px);
        }
      }
    }
  }
}

.disabled {
  background-color: rgb(167, 168, 168);
  color: var(--color-black);
}

.enable {
  background-color: var(--color-light-blue);
  color: var(--color-white);
}

label[for="fileInput"] {
  display: inline-block;
  padding: 3px;
  background-color: var(--color-light-blue);
  color: #fff;
  font-size: 16px;
  width: 147px;
  height: 29px;

  cursor: pointer;
  text-align: center;
  align-content: center;
  border-radius: var(--border-radius-buttons);
}

input[type="file"] {
  display: none;
}
/*input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}*/

.correct-field-text-icon {
  color: #1A759F;
}

.incorrect-field-text-icon {
  color: #f34141;
}

.correct-field-input {
  border-bottom: 1px solid rgba(26,117,159,100) !important;
}

.incorrect-field-input {
  border-bottom: 1px solid red !important;

}

.error-text {
  font-size: var(--font-size-text);
  color: #f34141;
}

@media (max-width: 600px) {
  .dry-form-register-content {
    flex-direction: column;
  }

  .image-container {
    display: grid;
    place-items: center;
    width: 100%;

    .image {
      width: 250px;
    }
  }

  .form-field {
    width: 100%;
  }

  .form-row-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-field {
      min-width: 100%;
    }
  }
}
