    .dry-page-container {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--color-disabled);
  
    .dry-page-content {
      width: 100%;
      padding: 10px 40px;
      box-sizing: border-box;
    }
  }
  