<span> Lista de Productos</span>
<br>
<input type="text" placeholder="Ingrese el nombre del producto a buscar..."> <button>IMG LUPA</button>
<button (click)="redireccionar('/product/new')">Registrar</button>

<br>

<div>
    <table>
        <tr>
            <th>

            </th>
            <th>
                Nombre
            </th>
            <th>
                Precio de Compra
            </th>
            <th>
                Precio de venta
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Acciones
            </th>
        </tr>
        <tr *ngFor="let producto of listaProductos">
            <td>
                {{producto.image}}
            </td>
            <td>
                {{producto.name}}
            </td>
            <td>
                {{producto.purchasePrice}}
            </td>
            <td>
                {{producto.salePrice}}
            </td>
            <td>
                {{producto.stock}}
            </td>
            <td>
                <button>Cambiar Cantidad Icon</button>
                <button>Vizualizar Icon</button>
                <button (click)="redireccionar('product/edit/'+1)">Editar Icon</button>
                <button (click)="eliminarProducto(1)">Eliminar Icon</button>
            </td>
        </tr>
    </table>
</div>
<br>
<br>
<div>{{numPaginas}}</div> 
<div>
    <button (click)="cambiarPagina(1)"> << </button>
    <button (click)="cambiarPagina((pagActual - 1))"> < </button>
    <button (click)="cambiarPagina(boton)"  *ngFor="let boton of numBotones">{{boton}}</button>
    <button (click)="cambiarPagina((pagActual + 1))"> > </button>
    <button (click)="cambiarPagina((numPaginas))"> >> </button>
</div>