<app-header [title]="'Mis Notificaciones'"></app-header>
<article class="dry-page-listado-container animate__animated animate__fadeIn animate__faster">
  <section class="listado-header-section listado-header">

  </section>

<section class="listado-content-section listado-content">
  <table class="listado-content-table table">
    <thead>
    <th class="table-thead-th--bold-light table-th">
      <label class="table-th-label">Nombre</label>
    </th>
    <th class="table-thead-th--bold-light table-th">
      <label class="table-th-label">Cantidad</label>
    </th>
  <th class="table-thead-th--bold-light table-th">
    <label class="table-th-label">estado</label>
  </th>
    </thead>

    <tbody>
    <tr [ngClass]="(i % 2 === 0) ? 'table-row--color-disabled' : 'table-row--color-white'"
        class="table-row animate__animated animate__fadeIn animate__faster"
        *ngFor="let product of products
        
         let i = index">
      <td class="table-row-td" [title]="product.name">{{product.name}}</td>
      <td class="table-row-td" [title]="product.stock">{{product.stock}}</td>

    </tr>
    <!--<td *ngIf="(products | async | filterSearchPipeProd:productNameSearch)?.length === 0">No existen productos para esta busqueda</td>-->
    </tbody>
  </table>
</section>    
</article>