<app-header [title]="'Mis Notificaciones'"></app-header>
<article class="dry-page-listado-container animate__animated animate__fadeIn animate__faster">
  <section class="listado-header-section listado-header">

  </section>

<section class="listado-content-section listado-content">
  <table class="listado-content-table table">
    <thead>
      <th class="table-thead-th--bold-light table-th">
        <label class="table-th-label">Producto</label>
      </th>
    <th class="table-thead-th--bold-light table-th">
      <label class="table-th-label">Nombre</label>
    </th>
    <th class="table-thead-th--bold-light table-th">
      <label class="table-th-label">Cantidad</label>
    </th>
  <th class="table-thead-th--bold-light table-th">
    <label class="table-th-label">Estado</label>
  </th>
    </thead>

    <tbody>
      <tr *ngFor="let producto of products" [ngClass]="{'text-yellow': producto.stock < 10, 'text-red': producto.stock === 0, 'text-green': producto.stock === 10}">
        <ng-container *ngIf="producto.stock <= 10 || producto.stock === 0">
        <td>
              <img src="{{producto.image}}" alt="image" class="item-img" style="width: 50px; height: 50px;">
          </td>
          <td>{{ producto.name }}</td>
          <td>quedan {{ producto.stock }} productos </td>
          <td>
              {{ producto.stock === 0 ? 'Agotado' : producto.stock !=0 ? 'Por acabarse' : '' }}
          </td>
        </ng-container>
      </tr>
      </tbody>
  </table>
</section>    
</article>