<app-header [title]="'Lista de Ventas'"></app-header>
<article class="dry-page-listado-container animate__animated animate__fadeIn animate__faster">
  <section class="listado-header-section listado-header">
    <section class="listado-header-search-section listado-header-search">
      <input type="text"
             class="listado-header-search-input"
             placeholder="buscar..."
             #textSearch
             (keyup)="searchProductByName(textSearch.value)">

      <span class="material-symbols-rounded listado-header-search-icon">search</span>
    </section>

    <button type="button" class="listado-header-button" (click)="goNavigateWindowRegister()">Registrar producto</button>
  </section>

  <section class="listado-content-section listado-content">
    <table class="listado-content-table table">
      <thead>
      <th></th>
      <th class="table-thead-th--bold-light table-th">
        <label class="table-th-label">#Codigo</label>
      </th>
      <th class="table-thead-th--bold-light table-th">
        <label class="table-th-label">Apellido_cliente</label>
        <!-- <span class="material-symbols-rounded table-th-icon"(click)="changeOrder('purchasePrice')">{{iconArrow}}</span> -->
      </th>
      <th class="table-thead-th--bold-light table-th">
        <label class="table-th-label">Precio_total_venta</label>
      </th>
      <th class="table-thead-th--bold-light table-th">
        <label class="table-th-label">Estado</label>
      </th>
      <th class="table-thead-th--bold-light" style="max-width: 197px;">
        <label class="table-th-label">&nbsp;&nbsp;&nbsp;Acciones</label>
      </th>
      </thead>

      <tbody>
      <tr >
        <td>
          
        </td>
        <!-- <td class="table-row-td" ></td>
        <td class="table-row-td" [title]="product.purchasePrice">{{product.purchasePrice | number : '1.2-2'}}</td>
        <td class="table-row-td" [title]="product.salePrice">{{product.salePrice  | number : '1.2-2'}}</td>
        <td class="table-row-td" [title]="product.stock">{{product.stock}}</td> -->
         <td style="min-width: 197px;">       <!--********************** -->
          <!-- <span class="material-symbols-rounded table-row-icon icon-plus icon"
                (click)="incrementStock(product.id)">add</span>
          <span class="material-symbols-rounded table-row-icon icon-visibility"
                (click)="openModalSee(product)">visibility</span>
          <span class="material-symbols-rounded table-row-icon icon-edit icon"
                [routerLink]="['/productos/editar', product.id ]">edit_square</span>
          <span class="material-symbols-rounded table-row-icon icon-delete icon"
          (click)="openModalDelete(product)">delete</span>
        </td> -->

      </tr>
      <td >No existen productos para esta busqueda</td>
      </tbody>
    </table>

    <section class="listado-footer-section listado-footer">
      <label class="listado-footer-quantity"> productos en total</label>

      <section class="listado-footer-pagination">

      </section>
    </section>
  </section>
</article>