<app-header [title]="'Lista de ventas'" ></app-header>
<article class="dry-page-listado-container animate__animated animate__fadeIn animate__faster">
  <section class="listado-header-section listado-header">
    <section class="listado-header-search-section listado-header-search">
      <input type="text"
             class="listado-header-search-input"
             placeholder="Ingrese el codigo de la venta que desea buscar..."
             #textSearch
             (keyup)="searchUserByName(textSearch.value)">

      <span class="material-symbols-rounded listado-header-search-icon">search</span>
    </section>

    <button type="button" class="listado-header-button" (click)="goNavigateWindowRegister()">Registrar venta</button>
  </section>

  <section class="listado-content-section listado-content" style="min-width: 1077px;">
    <div class="table-responsive">
    <table class="listado-content-table table">
      <thead>
      <th class="table-thead-th--bold-light table-th">
        <label class="table-th-label">Código</label>
        <span class="material-symbols-rounded table-th-icon" (click)="changeOrder('code')" >{{iconArrow}}</span>
      </th>
      <th class="table-thead-th--bold-light table-th">
        <label class="table-th-label">Apellido_cliente</label>
        <span class="material-symbols-rounded table-th-icon"(click)="changeOrder('lastName')">{{iconArrow}}</span>
      </th>
      <th class="table-thead-th--bold-light table-th" style="min-width: 205px;">
        <label class="table-th-label">Precio_total_venta</label>
        <span class="material-symbols-rounded table-th-icon" (click)="changeOrder('totalprice')">{{iconArrow}}</span>
      </th>
      <th class="table-thead-th--bold-light table-th">
        <label class="table-th-label">Estado</label>
        <span class="material-symbols-rounded table-th-icon" (click)="changeOrder('status')">{{iconArrow}}</span>
      </th>
      <th class="table-thead-th--bold-light" style="min-width: 198px;">
        <label class="table-th-label"> &nbsp; &nbsp; Acciones</label>
      </th>
      </thead>

      <tbody>
      <tr [ngClass]="(i % 2 === 0) ? 'table-row--color-disabled' : 'table-row--color-white'"
          class="table-row animate__animated animate__fadeIn animate__faster"
          *ngFor="let venta of ventas
          | async
          | filterSearchPipeVenta:ventasCodeSearch
          | sortByPipe:sortBy :order
          | paginate: { itemsPerPage:10  , currentPage: page, totalItems: (ventas | async | filterSearchPipeVenta:ventasCodeSearch).length};
           let i = index; trackBy: trackById">
        <td class="table-row-td" [title]="venta.code">{{venta.code}}</td>
        <td class="table-row-td" [title]="venta.client.lastName">{{venta.client.lastName}}</td>
        <td class="table-row-td" [title]="venta.total">{{venta.total}}</td>
        <td class="table-row-td" [title]="venta.state"><span *ngIf="venta.state">Aceptado</span> <span *ngIf="!venta.state">Cancelado</span></td>
        <td>

          <span class="material-symbols-rounded table-row-icon icon-visibility"
                (click)="openModalSee(venta)">visibility</span>

          <span *ngIf="venta.state" class="material-symbols-rounded table-row-icon icon-delete icon"
                (click)="openModalDelete(venta)">delete</span>
        </td>

      </tr>
      <td *ngIf="(ventas | async | filterSearchPipeVenta:ventasCodeSearch)?.length === 0">Lista vacia de ventas</td>
      </tbody>
    </table>
  </div>
    <section class="listado-footer-section listado-footer">
      <label class="listado-footer-quantity">{{(ventas | async | filterSearchPipeVenta:ventasCodeSearch).length }} ventas en total</label>

      <section class="listado-footer-pagination">
        <pagination-controls
          class="my-pagination"
          (pageChange)="pageChangeA($event)"
          (pageBoundsCorrection)="pageChangeA($event)"
          previousLabel="Anterior"
          nextLabel="Siguiente"
          [autoHide]="true">
        </pagination-controls>
      </section>
    </section>
  </section>


  <ng-container *ngIf="deleteBoolean">
    <app-modal [venta]="ventasModal" (onCloseModal)="closeModal()" [title]="'¿Estás seguro que deseas cancelar esta venta?'"
      [color]="'rgb(153,217,140)'" [icon]="'delete_forever'" [txtButton]="'Cancelar'"></app-modal>
  </ng-container>


  <ng-container *ngIf="seeBoolean">
    <app-modal [venta]="ventasModal"
               (onCloseModal)="closeModal()"
               [title]="'Información de la venta'"
               [color]="'rgb(52,160,164)'"
               [txtButton]="'Salir'"
    ></app-modal>
  </ng-container>

</article>