.dry-page-container {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--color-light-blue-secondary);
    
  
    .dry-page-content {
      width: 100%;
      z-index: 1;
      box-sizing: border-box;
    }
  }
  

