.dry-page-container {
  //display: flex;
  gap: 20px;
  //box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 100%;
  //max-width: 1100px;
 // margin: auto;
  height: 100%;
  background-color: var(--color-disabled);
}

/*.dry-page-content {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}*/
.contenido_derecho{
  //width: 75%;

}
.barra_lateral{
  //width: 25%;

}