<article class="dry-sidebar-container sidebar">
  <section class="sidebar-header-section">
    <label class="sidebar-header-section-title">DRY</label>
    <span class="material-symbols-rounded">menu</span>
  </section>

  <section class="sidebar-content-section">
    <span class="material-symbols-rounded">home</span>
    <span class="material-symbols-rounded">format_list_numbered</span>
    <span class="material-symbols-rounded">edit_square</span>
    <span class="material-symbols-rounded">receipt_long</span>
    <span class="material-symbols-rounded">list_alt</span>
  </section>
</article>
