<div class="row">
    <div class="col-rg-6">
        <h2>Grafico</h2>
        
        <div>
            <label for="">Desde</label>
            <input type="date">
        </div>
        <div>
            <label for="">Hasta</label>
            <input type="date">
        </div>

        <div>
            <label for="">Elegir grafico</label>
           
        </div>
        <br>

        <br>

        <div style="width: 500px; height: 500px;">
            <canvas id="myChart"></canvas>
          </div>
    </div>
</div>