.ContenedorCanvas{
    width: 800px;
    height: 500px;

    
}

.filaw{
    display: flex;
    flex-direction: row;
    
}
.inpFecha{
    padding: 15px;
}

.inpFecha input{
    border: none;
}
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 635px;
    background-color: white;
}