<app-header [title]="'Home'"></app-header>
<article class="dry-home-page-container animate__animated animate__fadeIn animate__faster">
  <section class="top-content-text-section">
    <label class="text">Misi&oacute;n</label>
  </section>

  <section class="mid-content-text-section-father">
    <section class="mid-content-text-section-children">
      <img src="./assets/mision_200x200.png" alt="" class="imagen">
      <label class="label">
        Nuestra misi&oacute;n es proveer a nuestros clientes los mejores repuestos electr&oacute;nicos del mercado,
        ofreciendo precios competitivos, garant&iacute;a y un servicio al cliente excepcional. Nos esforzamos por
        mantenernos actualizados con los
        &uacute;ltimas tendencias y tecnolog&iacute;as, para brindar siempre la mejor
        expericiencia de compra.
      </label>
    </section>
  </section>

  <section class="top-content-text-section">
    <label class="text">Visi&oacute;n</label>
  </section>

  <section class="mid-content-text-section-father">
    <section class="mid-content-text-section-children bottom">
      <img src="./assets/vision.jpg" alt="" class="imagen">
      <label class="label">
        Ser la tienda l&iacute;der en venta de repuestos electrónicos en la región, ofreciendo una amplia gama
        de productos de calidad y excelencia en el servicio al cliente.
      </label>
    </section>
  </section>
</article>
