<app-header [title]="'Home'"></app-header>
<article class="dry-home-page-container animate__animated animate__fadeIn animate__faster">
  <section class="top-content-text-section">
    <label class="text">Misi&oacute;n</label>
  </section>

  <section class="mid-content-text-section-father">
    <section class="mid-content-text-section-children">
      <img src="./assets/mision.jpg" alt="" class="imagen">
      <label class="label">
        Nuestra misi&oacute;n es proveer a nuestros clientes los mejores repuestos electr&oacute;nicos del mercado,
        ofreciendo precios competitivos, garant&iacute;a y un servicio al cliente excepcional. Nos esforzamos por
        mantenernos actualizados con los 	
        &uacute;ltimas tendencias y tecnolog&iacute;as, para brindar siempre la mejor
        expericiencia de compra.
      </label>
    </section>
  </section>

  <section class="top-content-text-section">
    <label class="text">Visi&oacute;n</label>
  </section>

  <section class="mid-content-text-section-father">
    <section class="mid-content-text-section-children bottom">
      <img src="./assets/vision.jpg" alt="" class="imagen">
      <label class="label">
        Ser la tienda l&iacute;der en venta de repuestos electrónicos en la región, ofreciendo una amplia gama
        de productos de calidad y excelencia en el servicio al cliente.
      </label>
    </section>
  </section>
</article>
<!--<article class="dry-home-page-container animate__animated animate__fadeIn animate__faster">-->
<!--  <section class="home-page-top-content">-->
<!--    <section class="home-page-top-content-text-section">-->
<!--      <label class="text">Nuestros productos</label>-->
<!--    </section>-->

<!--    <section class="home-page-top-content-search-section">-->
<!--      <input type="text"-->
<!--             class="home-page-top-content-search-section-input"-->
<!--             placeholder="Ingrese el nombre del producto a buscar..."-->
<!--             #textSearch-->
<!--             (keyup)="searchProductByName(textSearch.value)">-->

<!--      <span class="material-symbols-rounded home-page-top-content-search-section-icon">search</span>-->
<!--    </section>-->
<!--  </section>-->

<!--  <section class="home-page-mid-content">-->
<!--    <app-card [product]="product" *ngFor="let product of products-->
<!--          | async-->
<!--          | filterSearchPipe:productNameSearch-->
<!--          | paginate: {itemsPerPage:8  , currentPage: page, totalItems: totalProducts};-->
<!--           let i = index; trackBy: trackById"></app-card>-->
<!--  </section>-->

<!--  <section class="home-page-bottom-content">-->
<!--    <pagination-controls-->
<!--      class="my-pagination"-->
<!--      (pageChange)="page = $event"-->
<!--      previousLabel="Anterior"-->
<!--      nextLabel="Siguiente">-->
<!--    </pagination-controls>-->
<!--  </section>-->
<!--</article>-->
