<article class="dry-page-form-change-password animate__animated animate__fadeIn animate__faster">
  <section class="form">
    <label class="form-title">Ingresa tu nueva contraseña</label>

    <section class="form-fields-section">
      <section class="form-field">
        <section class="form-field-row">
          <span class="material-symbols-rounded">lock</span>
          <input type="password" placeholder="Ingresa tu contraseña nueva..." name="passwordNew" required [(ngModel)]="passwordNew" minlength="3">
        </section>
        <label *ngIf="passwordNew.length < 3 && passwordNew.trim() !== ''" class="form-field-error">La contraseña debe ser de mínimo 3 caractares</label>
      </section>

      <section class="form-field">
        <section class="form-field-row">
          <span class="material-symbols-rounded">lock</span>
          <input type="password" placeholder="Confirma tu contraseña..." name="passwordConfirm" required [(ngModel)]="passwordConfirm" minlength="3">
        </section>

        <label *ngIf="passwordConfirm.length < 3 && passwordConfirm.trim() !== ''" class="form-field-error">La contraseña debe ser de mínimo 3 caractares</label>
      </section>
      <button class="form-button" type="submit" (click)="changePassword()" [disabled]="(passwordNew.length < 3 || passwordConfirm.length < 3)">Cambiar contraseña</button>
    </section>
  </section>
</article>
