<article class="dry-page-form-change-password animate__animated animate__fadeIn animate__faster">
  <section class="form">
    <label class="form-title">Ingresa tu nueva contraseña</label>

    <section class="form-fields-section">
      <section class="form-field">
        <span class="material-symbols-rounded">lock</span>
        <input type="password" placeholder="Ingresa tu contraseña nueva..." name="passwordNew" required [(ngModel)]="passwordNew">
      </section>

      <section class="form-field">
        <span class="material-symbols-rounded">lock</span>
        <input type="password" placeholder="Confirma tu contraseña..." name="passwordConfirm" required [(ngModel)]="passwordConfirm">
      </section>

      <button class="form-button" type="submit" (click)="changePassword()">Cambiar contraseña</button>
    </section>
  </section>
</article>
