.dry-page-form-change-password {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  box-shadow: var(--box-shadow-secondary);
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 30%;
  box-sizing: border-box;
  box-shadow: var(--box-shadow-secondary);
}

.form-title {
  background-color: var(--color-dark-blue-secondary);
  color: var(--color-white);
  padding: 10px;
  font-size: var(--font-size-title);
  font-weight: 600;
  box-sizing: border-box;
}

.form-fields-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  gap: 20px;
  padding: 10px;
}

.form-field {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.form-field-row {
  display: flex;
  min-width: 100%;
  max-height: 40px;
}

.form-field-error {
  font-size: 12px;
  color: #f34141;
}

.form-field input {
  padding-left: 10px;
  font-size: var(--font-size-text);
  background-color: #efe9e9;
  width: 100%;
  border: none;
}

.form-field span {
  background-color: var(--color-disabled);
  padding: 7px;
  box-sizing: border-box;
}

.form-button {
  background-color: var(--color-dark-blue-secondary);
  border-radius: 5px;
  border: none;
  padding: 5px;
  color: var(--color-white);
  font-size: var(--font-size-title);

  &:hover {
    background-color: var(--color-light-blue-secondary);
  }
}
