.dry-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dry-colors-pages {
  display: flex;
  gap: 10px;
}
.dry-colors-pages .label {
  padding: 10px;
}
.dry-colors-pages .label1 {
  background-color: var(--color-dark-blue);
}
.dry-colors-pages .label2 {
  background-color: var(--color-dark-blue-secondary);
}
.dry-colors-pages .label3 {
  background-color: var(--color-light-blue);
}
.dry-colors-pages .label4 {
  background-color: var(--color-light-blue-secondary);
}
.dry-colors-pages .label5 {
  background-color: var(--color-light-accent);
}

.dry-colors-items {
  display: flex;
  gap: 10px;
}
.dry-colors-items .label {
  padding: 10px;
}
.dry-colors-items .label6 {
  background-color: var(--color-dark-green);
}
.dry-colors-items .label7 {
  background-color: var(--color-dark-green-secondary);
}
.dry-colors-items .label8 {
  background-color: var(--color-light-green);
}
.dry-colors-items .label9 {
  background-color: var(--color-light-green-secondary);
}
.dry-colors-items .label10 {
  background-color: var(--color-warning);
}
.dry-colors-items .label11 {
  background-color: var(--color-disabled);
}

.dry-fonts-sizes {
  display: flex;
  gap: 50px;
}
.dry-fonts-sizes .font-size {
  margin-top: 20px;
}
.dry-fonts-sizes .font-title {
  font-size: var(--font-size-title);
}
.dry-fonts-sizes .font-subtitle {
  font-size: var(--font-size-subtitle);
}
.dry-fonts-sizes .font-text {
  font-size: var(--font-size-text);
}

.dry-box-shadow {
  display: flex;
  gap: 40px;
}
.dry-box-shadow .shadow {
  padding: 20px;
}
.dry-box-shadow .shadow1 {
  box-shadow: var(--box-shadow-primary);
}
.dry-box-shadow .shadow2 {
  box-shadow: var(--box-shadow-secondary);
}
.dry-box-shadow .shadow3 {
  box-shadow: var(--box-shadow-tertiary);
}

.dry-buttons-section {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}
.dry-buttons-section .button {
  border: none;
  border-radius: var(--border-radius-buttons);
  cursor: pointer;
  font-size: var(--font-size-text);
  padding: var(--padding-primary);
}
.dry-buttons-section .button-basic {
  background-color: var(--color-white);
  border: 1px solid;
}
.dry-buttons-section .button-basic:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}
.dry-buttons-section .button-primary {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}
.dry-buttons-section .button-primary:hover {
  background-color: var(--color-light-blue-secondary);
  transition: var(--transition-primary);
  transform: var(--transform-primary);
}
.dry-buttons-section .button-secondary {
  background-color: var(--color-dark-blue-secondary);
  color: var(--color-white);
}
.dry-buttons-section .button-secondary:focus {
  background-color: var(--color-light-accent);
}
.dry-buttons-section .button-link {
  background-color: var(--color-dark-green);
}
.dry-buttons-section .button-link:hover {
  background-color: var(--color-dark-green-secondary);
}
.dry-buttons-section .button-disabled {
  background-color: var(--color-disabled);
}

.dry-avatar-section {
  display: flex;
  padding-left: 2rem;
}
.dry-avatar-section .avatar {
  border-radius: 100%;
  border: 2px solid #444;
  margin-right: 10px;
}
.dry-avatar-section .avatar1 {
  width: 60px;
  height: 60px;
}
.dry-avatar-section .avatar2 {
  width: 50px;
  height: 50px;
}
.dry-avatar-section .avatar3 {
  width: 35px;
  height: 35px;
}
.dry-avatar-section .avatar4 {
  border-radius: 5px;
  width: 40px;
  height: 40px;
}

.dry-icons {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}/*# sourceMappingURL=view-componentes-example.component.css.map */