<article class="dry-page-apartado-informacion-container animate__animated animate__fadeIn animate__faster">
    <section class="login-content-container login-content">
        <section class="login-content-form">
  
          </section>
        <section class="login-content-logo logo">
            <section class="logo-text-section">
              <label class="logo-text-big">DRY</label>
              <label class="logo-text-small">Electronic shop</label>
            </section>
      
            <section class="logo-img-section">
              <img src="./assets/robot.png" alt="logo" class="logo-img">
            </section>
          </section>
    </section>
</article>

 
