.dry-login-page-container {
    
    place-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    animation: bgcolorLog 2s infinite alternate both;
  
  }
 
  
  .login-content-container {
    display: flex;
    height: 100%;
    width: 100%;
    animation: bordercont 1s infinite alternate both;
  }
    //Font Size
    //--font-size-title: 18px;
    //--font-size-subtitle: 15px;
//--font-size-text: 13px;
  //  --font-size-big: 25px;
  .panel-inf {
    width: 400px;
    height: 100vh;
    margin-left: 10px;
    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    gap: 25px;
    color: var(--color-white);
    font-size: var(--font-size-subtitle);
    font-weight: 500;
    
    
  
    .title {
      text-transform: uppercase;
      text-align: center;
      font-size: 25px;
      margin-top: 40px;
      box-sizing: border-box;
    }
      &-text--bold {
        font-size: 14px;
        font-weight: 400;
      }
  
      &-label--size-small {
        font-size: 12px;
      }
  
  
     
  
      
  
      
    }
  
    .mision{
      margin-top: 70px;
    }
     h3{
     font-weight: bold;
    }
    .parrafo{
      text-align:center justify;
    }
    .datos{
      margin-top: 120px;
      text-align: left;
    }
  
  
  .logo {
    align-items: center;
    background-color: var(--color-light-blue-secondary);
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: 100%;
    
    
  
    &-text-section {
      display: flex;
      flex-direction: column;
    }
  
    &-text-big {
      color: var(--color-white);
      font-size: 120px;
      font-weight: bold;
    }
  
    &-text-small {
      color: var(--color-white);
      font-size: 30px;
      font-weight: bold;
      margin-top: 60px;
    }
  
    &-img-section {
      .logo-img {
        min-height: 330px;
        min-width: 240px;
        max-width: 250px;
        max-height: 370px;
      }
    }
    .redes-links{
      align-items: center;
      justify-content: center;
      text-align: center;
  }
  .link{
    margin-right: 30px;
  }
  .redes-img{
    border-radius: 15px;
    width:40px; 
    height:40px;
  }
  .redes-img:hover{
    transform: scale(1.5); 
  }
}
@keyframes bordercont {
  0%{
    box-shadow: 3px -3px 3px -3px #2A6078;
  }
  100%{
    box-shadow: 0px -0px #2A6078;
  }
}

@keyframes bgcolorLog {
  0%{
    background-color: var(--color-light-blue);

  }
  100%{
    background-color: #186A90;

  }
}
  @media (max-width: 1024px) {
    .login-content-container {
      width: 80%;
    }
  }
  
  @media (max-width: 768px) {
    .login-content-container {
      width: 90%;
    }
  
    .logo {
      padding: 50px 0;
      flex-direction: column-reverse;
  
      &-img-section {
        margin-top: 30px;
      }
  
      &-text-section {
        align-items: center;
        margin-bottom: 20px;
      }
  
      &-text-big {
        font-size: 50px;
      }
  
      &-text-small {
        font-size: var(--font-size-text);
        margin-top: 5px;
      }
    }
  }
  
  @media (max-width: 480px) {
    .login-content-container {
      display: flex;
      justify-content: center;
      align-content: center;
      min-height: 70%;
      width: 100%;
    }
  
    .login-content-logo {
      display: none;
    }
    .error-text {
      color: #f34141;
    }
  }

.img {
    width: 100%px;
    height: 90%;
}






  .login-content-container {
    display: flex;
    height: 100%;
    width: 100%;
    animation: bordercont 1s infinite alternate both;
   
  }
  .login-content-forms{
    background-color: #2A6078;
    
    .logoo {
        align-items: center;
        text-align: center;
        padding: 50px 0;
        flex-direction: column-reverse;
    }
    &-text-big-tex {
        color: var(--color-white);
        font-size: 120px;
        font-weight: bold;
      }
    
      &-text-small-tex {
        color: var(--color-white);
        font-size: 30px;
        font-weight: bold;
        margin-top: -20px;
    
  }
}
.fex-direction {
    display: flex;

  }
  .logoo-text-section{
    display: flex;
    text-align: justify;
    font-size: 16px;
    color: var(--color-white);
    font-weight: 600;
    width: 80%;
  }
  .login-content-container{
    display: flex;
    text-align: justify;
    font-size: 16px;
    color: var(--color-white);
    font-weight: 600;
    width: 60%;
    margin-left: 10px;
  }
  .logoo-text-section {
    display: flex;
    padding-left: 80px;
  }
  .flex-direction {
    padding-left: 10px;
  }