.dry-login-page-container {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    animation: bgcolorLog 2s infinite alternate both;
  
  }
  @keyframes bordercont {
    0%{
      box-shadow: 3px -3px 3px -3px #2A6078;
    }
    100%{
      box-shadow: 0px -0px #2A6078;
    }
  }
  
  @keyframes bgcolorLog {
    0%{
      background-color: var(--color-light-blue);
  
    }
    100%{
      background-color: #186A90;
  
    }
  }
  
  .login-content-container {
    display: flex;
    height: 100%;
    width: 100%;
    animation: bordercont 1s infinite alternate both;
  }
  
  .form {
    background-color: var(--color-dark-blue);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 60px;
    gap: 25px;
    color: var(--color-white);
    font-size: var(--font-size-text);
    font-weight: 600;
    width: 500px;
    height: 100%;
  
    .section-titles {
      display: flex;
      justify-content: start;
    }
  
    &-title {
      text-transform: uppercase;
      text-align: center;
      font-size: 30px;
      margin-top: 40px;
      box-sizing: border-box;
    }
  
    &-title-secondary {
      text-transform: none;
    }
  
    &-field {
      display: flex;
      flex-direction: column;
      font-weight: lighter;
      gap: 7px;
  
      &--common {
        border-style: none;
        border-radius: 3px;
        box-sizing: border-box;
        min-height: 40px;
      }
  
      &-label {
        font-size: 14px;
      }
  
      &-text--bold {
        font-size: 14px;
        font-weight: 400;
      }
  
      &-label--size-small {
        font-size: 12px;
      }
  
  
      &-input {
        padding-left: 10px;
      }
  
      &-button {
        background-color: var(--color-light-blue-secondary);
        color: var(--color-white);
  
        &:hover {
          background-color: var(--color-light-blue);
        }
      }
  
      &-label-footer {
        text-align: center;
      }
    }
  
    .text-hover {
      &:hover {
        color: var(--color-warning);
        cursor: pointer;
      }
    }
  }
  
  .logo {
    align-items: center;
    background-color: var(--color-light-blue-secondary);
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    padding: 100px 0;
  
    &-text-section {
      display: flex;
      flex-direction: column;
    }
  
    &-text-big {
      color: var(--color-white);
      font-size: 120px;
      font-weight: bold;
    }
  
    &-text-small {
      color: var(--color-white);
      font-size: 30px;
      font-weight: bold;
      margin-top: -20px;
    }
  
    &-img-section {
      .logo-img {
        min-height: 330px;
        min-width: 240px;
        max-width: 250px;
        max-height: 370px;
      }
    }
  }
  
  @media (max-width: 1024px) {
    .login-content-container {
      width: 80%;
    }
  }
  
  @media (max-width: 768px) {
    .login-content-container {
      width: 90%;
    }
  
    .logo {
      padding: 50px 0;
      flex-direction: column-reverse;
  
      &-img-section {
        margin-top: 30px;
      }
  
      &-text-section {
        align-items: center;
        margin-bottom: 20px;
      }
  
      &-text-big {
        font-size: 50px;
      }
  
      &-text-small {
        font-size: var(--font-size-text);
        margin-top: 5px;
      }
    }
  }
  
  @media (max-width: 480px) {
    .login-content-container {
      display: flex;
      justify-content: center;
      align-content: center;
      min-height: 70%;
      width: 100%;
    }
  
    .login-content-logo {
      display: none;
    }
    .error-text {
      color: #f34141;
    }
  }
  