<article class="dry-page-apartado-informacion-container animate__animated animate__fadeIn animate__faster">
  <section class="login-content-logo logo">
      <section class="login-content-forms">
         <div class="panel-inf">
            <h2 class="title">REPUESTOS ELECTRÓNICOS</h2>
            <div class="mision">
            <h3>{{info.tittle}}</h3>
            <p class="parrafo">
              {{info.description}}
            </p>
          </div>
            <div class="datos">
              <p>Teléfono: {{info.phone}}</p>
              <p>Direcci&oacute;n: {{info.direction}}</p>
              <p>Correo: {{info.email}}</p>
              <p>Redes Sociales:</p>
                <div class="redes-links">
                  <a  class="link" target="_blank" [href]="info.links[1]"><img class="redes-img" src="./assets/youtube.png"/></a>
                  <a class="link" target="_blank" [href]="info.links[0]"><img class="redes-img" src="./assets/face.png" /></a>
                  <a class="link" target="_blank" [href]="info.links[2]"><img class="redes-img" src="./assets/whats.png" /></a>
                </div>
              
            </div>
         </div>
       
      
      </section>

                  <section class="login-content-logo logo">
                    
                    <section class="logo-text-section">
                    <!--  <label class="logo-text-big">DRY</label>
                      <label class="logo-text-small">Electronic shop</label>-->
                     
                    </section>
                    
              
                    <section class="logo-img-section" >
                      <section class="logo-text-section">
                      <label class="logo-text-big">DRY ELECTRONIC SHOP</label>
                      
                      </section>
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/_jIcA7XEyQo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </section>
                  </section>
  </section>
</article>


