<article class="dry-page-apartado-informacion-container animate__animated animate__fadeIn animate__faster">
    <section class="login-content-container login-content">
        <section class="form-section">
            
       <h1>REPUESTOS ELECTRONICOS</h1>
        <label class="label">
            Nuestra misi&oacute;n:
            Con el objetivo de brindar 
            al usuario una 
            experiencia de compra 
            sencilla ofrecemos tambi&oacute;n el servicio de 
            ventas en linea.
          </label>
        <section>
          <label class="label">Tele&oacute;fono:77954813</label>
        </section>
        <section>
          <label class="label">Direcci&oacute;n:Jordan entre 16 de julio</label>
        </section>
        <section>
          <label class="label">Correo elctr&oacute;nico:repuestoselectronicos@gmail.com</label>
        </section>
       <section>
          <label class="label">Redes sociales:</label>
        </section>
        </section>
        <section class="mid-content-tex-section">
        <section class="logo-img-section">
                <img src="./assets/YouTube.png" width="100" height="100" />
        </section>
            <section class="logo-img-section">
                <img src="./assets/whatsapp.png" width="100" height="100" />
            </section>
            <section class="logo-img-section">
                <img src="./assets/facebook.png" width="100" height="100" />
                
        </section>
        </section>  

        <section class="login-content-logo logo">
            <section class="logo-text-section">
              <label class="logo-text-big">DRY</label>
              <label class="logo-text-small">Electronic shop</label>
            </section>
      
            <section class="logo-img-section">
              <img src="./assets/robot.png" alt="logo" class="logo-img">
            </section>
          </section>
    </section>
</article>

 
