/* You can add global styles to this file, and also import other style files */
:root {
  ///Colors
  --color-dark-blue: rgb(24, 78, 119);
  --color-dark-blue-secondary: rgb(30, 96, 145);
  --color-light-blue: rgb(26, 117, 159);
  --color-light-blue-secondary: rgb(22, 138, 173);
  --color-light-accent: rgb(52, 160, 164);

  --color-dark-green: rgb(82, 182, 154);
  --color-dark-green-secondary: rgb(118, 200, 147);
  --color-light-green: rgb(153, 217, 140);
  --color-light-green-secondary: rgb(181, 228, 140);
  --color-warning: rgb(217, 237, 146);
  --color-disabled: rgb(230, 230, 230);

  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);

  //Box Shadow
  --box-shadow-primary: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  --box-shadow-secondary: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  --box-shadow-tertiary: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

  //Font Size
  --font-size-title: 18px;
  --font-size-subtitle: 15px;
  --font-size-text: 13px;
  --font-size-big: 25px;

  //Transition
  --transition-primary: ease 0.4s;

  //Transform
  --transform-primary: translateY(2px);

  //Border Radius
  --border-radius-buttons: 3px;
  --border-radius-cards: 5px;
  --border-radius-avatar: 50%;
  --border-radius-actions: 10px;

  //Padding
  --padding-primary: 10px;
  --padding-secondary: 7px;
}


html {
  width: 100%;
  height: 100%;
  font-family: Poppins;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
