<article class="dry-page-restore-password-container">
  <section class="dry-page-restore-password-content">
    <label class="content-title">Buscar por dirección email</label>

    <section class="content-form">
      <section class="content-form-second-section">
        <span class="material-symbols-rounded">mail</span>
        <input type="email" placeholder="Ingresa tu email..." name="email" required [(ngModel)]="email">
      </section>

      <button class="content-form-button mt-4" (click)="findUserByEmail()">Enviar</button>
    </section>
  </section>
</article>
