.dry-page-restore-password-container {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  box-shadow: var(--box-shadow-secondary);
}

.dry-page-restore-password-content {
  display: flex;
  flex-direction: column;
  min-width: 30%;
  box-sizing: border-box;
  box-shadow: var(--box-shadow-secondary);
}

.content-title {
  background-color: var(--color-dark-blue-secondary);
  color: var(--color-white);
  padding: 10px;
  font-size: var(--font-size-title);
  font-weight: 600;
  box-sizing: border-box;
}

.content-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 40px;
}

.content-form-second-section {
  display: flex;
  min-width: 100%;
  min-height: 40px;
}

.content-form-second-section input {
  padding-left: 10px;
  font-size: var(--font-size-text);
  background-color: #efe9e9;
  width: 100%;
  border: none;
}

.content-form-second-section span {
  background-color: var(--color-disabled);
  padding: 7px;
  box-sizing: border-box;
}

.content-form-button {
  background-color: var(--color-dark-blue-secondary);
  border-radius: 5px;
  border: none;
  padding: 5px;
  color: var(--color-white);
  font-size: var(--font-size-title);

  &:hover {
    background-color: var(--color-light-blue-secondary);
  }
}

