 
        <form action="">
<article class="dry-page-apartado-informacion-container animate__animated animate__fadeIn animate__faster">
  <section class="login-content-logo logo">
      <section class="login-content-forms">

            <div class="panel-inf">
                <h2 class="title">REPUESTOS ELECTRÓNICOS</h2>
                <div class="mision">
                <h3><input type="text"></h3>
                <p class="parrafo">
                  <textarea name="" id="" cols="30" rows="10">
    
                  </textarea>
                </p>
              </div>
                <div class="datos">
                  <p>Teléfono: <input type="number"></p> 
                  <p>Direcci&oacute;n: <input type="number"></p>
                  <p>Correo: <input type="number"></p>
                  <p>Redes Sociales:</p>
                    <div class="redes-links">
                      <a  class="link" target="_blank" href="https://www.youtube.com/@dryelectronic"><img class="redes-img" src="./assets/youtube.png"/></a>
                      <a class="link" target="_blank"href="https://www.facebook.com/profile.php?id=100093075485231"><img class="redes-img" src="./assets/face.png" /></a>
                      <a class="link" target="_blank"href="https://wa.link/ib2imf"><img class="redes-img" src="./assets/whats.png" /></a>
                    </div>
                </div>
             </div>
         
       
      
      </section>

                  <section class="login-content-logo logo">
                    <section class="logo-text-section">
                      <label class="logo-text-big">DRY</label>
                      <label class="logo-text-small">Electronic shop</label>
                      <label class="logo-text-small">Apartado de Edición</label>
                    </section>
                    
                    <section class="logo-img-section">
                      <img src="./assets/robot.png" alt="logo" class="logo-img">
                    </section>
                  </section>
                  
  </section>
  
</article>


</form>