 
        
<article class="dry-page-apartado-informacion-container animate__animated animate__fadeIn animate__faster">
  <section class="login-content-logo logo">
      <section class="login-content-forms">
        
            <div class="panel-inf"> 
              <form action="" [formGroup]="formularyInfo" (ngSubmit)="updateInfo()" class="formEdicion">
                <h2 class="title">REPUESTOS ELECTRÓNICOS</h2>
                <div class="mision">
                  
                    <h3><label for="">Título</label><br>
                    <input type="text" formControlName="tittle" class="inputNormal"></h3>
                    <div *ngIf="formularyInfo.get('tittle')?.errors && formularyInfo.get('tittle')?.dirty">
                      <small class="text-danger" *ngIf="formularyInfo.get('tittle')?.hasError('required')">Título requerido</small>
                      <small class="text-danger" *ngIf="formularyInfo.get('tittle')?.hasError('maxlength')">Máximo 40 caracteres </small>
                      <small class="text-danger" *ngIf="formularyInfo.get('tittle')?.hasError('pattern')">No se permiten caracteres especiales </small>
                    </div>
                    <p class="parrafo">
                    <label for="">Descripción</label><br>
                    <textarea name="" id="" cols="40" rows="2" formControlName="description" class="textArean" maxlength="110">
                    </textarea>
                  
                    </p>
                    <div *ngIf="formularyInfo.get('description')?.errors && formularyInfo.get('description')?.dirty">
                      <small class="text-danger" *ngIf="formularyInfo.get('description')?.hasError('required')">Descripción requerida</small>
                      <small class="text-danger" *ngIf="formularyInfo.get('description')?.hasError('maxlength')">Máximo 110 caracteres </small>
                      <small class="text-danger" *ngIf="formularyInfo.get('description')?.hasError('pattern')">No se permiten caracteres especiales </small>
                    </div>
                </div>
                <div class="datos">
                  <p>Teléfono: &nbsp;<input type="number" formControlName="phone"></p> 
                  <div *ngIf="formularyInfo.get('phone')?.errors && formularyInfo.get('phone')?.dirty">
                    <small class="text-danger" *ngIf="formularyInfo.get('phone')?.hasError('required')">Teléfono requerido</small>
                    <small class="text-danger" *ngIf="formularyInfo.get('phone')?.hasError('pattern')">Solo Teléfonos de Bolivia </small>
                  </div>
                  <p>Direcci&oacute;n: <input type="text" formControlName="direction" class="inputNormal"></p>
                  <div *ngIf="formularyInfo.get('direction')?.errors && formularyInfo.get('direction')?.dirty">
                    <small class="text-danger" *ngIf="formularyInfo.get('direction')?.hasError('required')">Direcci&oacute;n requerida</small>
                    <small class="text-danger" *ngIf="formularyInfo.get('direction')?.hasError('minlength')">Mínimo 2 caracteres </small>
                    <small class="text-danger" *ngIf="formularyInfo.get('direction')?.hasError('maxlength')">Máximo 30 caracteres </small>
                    <small class="text-danger" *ngIf="formularyInfo.get('direction')?.hasError('pattern')">No se permiten caracteres especiales </small>
                  </div>
                  <p>Correo:&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" formControlName="email" class="inputNormal"></p>
                  <div *ngIf="formularyInfo.get('email')?.errors && formularyInfo.get('email')?.dirty">
                    <small class="text-danger" *ngIf="formularyInfo.get('email')?.hasError('required')">Correo requerido</small>
                    <small class="text-danger" *ngIf="formularyInfo.get('email')?.hasError('pattern')">No es un correo valido </small>
                  </div>
                  <p>Redes Sociales:</p>
                    <div class="redes-links">
                        <label for="">Link de Youtube&nbsp;&nbsp;&nbsp;&nbsp;</label>&nbsp;&nbsp;
                        <input type="text" formControlName="ytlink" class="inputNormal"><br>
                        <div *ngIf="formularyInfo.get('ytlink')?.errors && formularyInfo.get('ytlink')?.dirty">
                          <small class="text-danger" *ngIf="formularyInfo.get('ytlink')?.hasError('required')">Link de Youtube requerido</small>
                        </div>
                        <label for="">Link de Facebook&nbsp;</label>&nbsp;&nbsp;
                        <input type="text" formControlName="fblink" class="inputNormal"><br>
                        <div *ngIf="formularyInfo.get('fblink')?.errors && formularyInfo.get('fblink')?.dirty">
                          <small class="text-danger" *ngIf="formularyInfo.get('fblink')?.hasError('required')">Link de Facebook requerido</small>
                        </div>
                        <label for="">Link de WhatsApp</label>&nbsp;&nbsp;
                        <input type="text" formControlName="wslink" class="inputNormal"><br>
                        <div *ngIf="formularyInfo.get('wslink')?.errors && formularyInfo.get('wslink')?.dirty">
                          <small class="text-danger" *ngIf="formularyInfo.get('wslink')?.hasError('required')">Link de WhatsApp requerido</small>
                        </div>
                    </div>
                  <div class="contenedorBotones">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    &nbsp;&nbsp; <button style="min-width: 150px;" class="btn btn-primary" type="submit">Editar</button>
                  </div>
                    
                </div>
              </form>
             </div>
           
       
      
      </section>

                  <section class="login-content-logo logo">
                    <section class="logo-text-section">
                      <label class="logo-text-big">DRY</label>
                      <label class="logo-text-small">Electronic shop</label>
                      <label class="logo-text-small">Apartado de Edición</label>
                    </section>
                    
                    <section class="logo-img-section">
                      <img src="./assets/robot.png" alt="logo" class="logo-img">
                    </section>
                  </section>
                  
  </section>
  
</article>


